{% extends 'layout.html.twig' %}
{% block title %}
Panel ONLSGP - Administration - Ajouter Server jeu à {{ pseudo }}
{% endblock %}
{% block contenu %}
<div class="modal-content" style="margin: 15px;">
	<div class="modal-header text-center">
		<strong id="titreMenu">Ajouter Server jeu à {{ pseudo }}</strong>
	</div>
	<div class="modal-body" style="padding-top: 0; padding-bottom: 0;">
	<table class="table table-hover table-bordered" style="padding: 0; margin: 0; margin-top: 15px; margin-bottom: 15px;">
		<thead>
			<tr>
				<th width="40">#</th>
				<th>Titre Du Jeu</th>
				<th width="120">Action</th>
			</tr>
		</thead>
		{% for jeux in jeuxDb %}
        		<tbody>
        			<tr>
        				<td>{{ loop.index }}</td>
        				<td>{{ jeux.titre }}</td>
        				<td class="text-center"><a href="{{ url('admin_games_user_add', {adminSession: session, idUsers: usersDb['idUsers'], idJeux: jeux.idJeux, nom: jeux.fichierSh}) }}">Installer</a></td>
        			</tr>
        		</tbody>
        {% else %}
        <tbody>
        	<tr>
        	   <td colspan="3">Tous les jeux disponibles ont été installés</td>
        	</tr>
        </tbody>
    	{% endfor %}
	</table>
	</div>
</div>
{% endblock %}